@model Registration.Data.Customer

@{
    Layout = null;
}

<style>
    table{

    }
</style>

<div style="padding:15px 15px 15px 15px">
    <div class="modal-header">
        <h4 class="modal-title"></h4>
        <input type="hidden" id="hiddenInp" name="id">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @* content *@
    <div class="modal-body">

        <div class="row">
            <div class="col-2 text-primary text-right">
                <h5>客戶資料</h5>
            </div>
            <div class="col-10">
                
            </div>
        </div>

        <div>
            <table>
                <tr>
                    <td style="width:13%" class="text-right">行業別：</td>
                    <td style="width:20%">
                    @{
                        var industry = (IndustryEnum)Enum.Parse(typeof(IndustryEnum), Model.Industry.ToString());
                        <span>@industry.Description()</span>
                    }
                    </td>
                    <td style="width:13%" class="text-right">區域：</td>
                    <td style="width:20%">
                    @{
                        var area = (AreaEnum)Enum.Parse(typeof(AreaEnum), Model.Area.ToString());
                        <span>@area.Description()</span>
                    }
                    </td>
                    <td style="width:13%" class="text-right">聯絡人：</td>
                    <td style="width:21%">@Model.Contact</td>
                </tr>
                <tr>
                    <td class="text-right">客戶屬性：</td>
                    <td>
                    @{
                        var attribu = (AttributeEnum)Enum.Parse(typeof(AttributeEnum), Model.Attribute.ToString());
                        <span>@attribu.Description()</span>
                    }
                    </td>
                    <td class="text-right">客戶編號：</td>
                    <td>@Model.Number</td>
                    <td class="text-right">客戶名稱：</td>
                    <td>@Model.Name</td>
                </tr> 
                <tr>
                    <td class="text-right">電話：</td>
                    <td>@Model.Phone</td>
                    <td class="text-right">住址：</td>
                    <td colspan="4">@Model.Address</td>
                </tr>
            </table>
        </div>
        <p></p>
        @* 產品授權資料 *@
        <div class="row">
            <div class="col-2 text-primary text-right">
                <h5>授權資料</h5>
            </div>
            <div class="col-10">

            </div>
        </div>
        <div>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th width="15%">
                            類別
                        </th>
                        <th width="15%">
                            模組
                        </th>
                        <th width="25%">
                            軟體序號
                        </th>
                        <th width="">
                            授權碼
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.Order)
                        {
                            <tr>
                                <td class="text-center">
                                    @if(item.OrderType==1)
                                    {
                                        <span>主系統</span>
                                    }
                                    else
                                    {
                                        <span>模組</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @{
                                        var module = (ModuleEnum)Enum.Parse(typeof(ModuleEnum), item.Module.ToString());
                                        <span>@module.Description()</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @item.SerialNumber
                                </td>
                                <td class="text-center">
                                    @{
                                        foreach (var pk in item.ProductKey)
                                        {
                                            @pk.Key
                                            <br />
                                        }
                                    }
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>

    </div>
    @* footer *@
    <div class="modal-footer text-center">

    </div>

</div>